<div class="row" *ngIf="member"> 
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
              <div>
                <strong style="color:antiquewhite ;">Name: </strong>
                <p style="color:aqua;">{{member.knownAs}}</p>
            </div>
                <div>
                    <strong style="color:antiquewhite;">Location: </strong>
                    <p style="color:aqua;">{{member.city}} , {{member.country}}</p>
                </div>
                <div>
                    <strong style="color:antiquewhite;">Age: </strong>
                    <p style="color:aqua;">{{member.age}}</p>
                </div>
                <div>
                    <strong style="color:antiquewhite;">Last Active: </strong>
                    <p style="color:aqua;">{{member.lastActive}}</p>
                </div> 
                <div>
                    <strong style="color:antiquewhite;">Member since: </strong>
                    <p style="color:aqua;">{{member.created}}</p>
                </div>

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
          <tab heading='About {{member.userName}}'>
            <h4>Description</h4>
            <p style="color:aliceblue ;">{{ member.introduction }}</p>
            <h4>Looking for</h4>
            <li style="color:aliceblue ;">{{ member.lookingFor }}</li>
          </tab>
          <tab heading='Interests'>
            <h4>Interests</h4>
            <p style="color:aliceblue ;">{{ member.interests }}</p>
          </tab>
          <tab heading='Photos'>
            <h4>Photos</h4>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
          </tab>
          <tab heading='Messages'>
            <h4>Messages</h4>
            <p style="color:aliceblue ;">Messages will go here</p>
          </tab>
        </tabset>
      </div> 
</div>